@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import "./variables";


html {
    background-color: $background;

    // box model
    height: 100%;
    width: 100%;
    position: absolute;

    // typography
    font-family: 'Alata', 'sans-serif';
    color: $font-color;
    font-size: 16px;
    font-weight: lighter    ;
}

#container {
    // box model
    padding: 0 15%;
}

.font {
    &__accent {
        color: $primary;
    }
    &__white {
        color: $white;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3em 0;

    &__title {
        font-size: 3em;
        color: $title-color;
    }

    &__nav {
        display: flex;
        a {
            color: $primary;
            margin-left: 0.3em;
            text-decoration: none;
            &:active, &:visited {
                color: $primary-light;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    &__image {
        width: 25%;
        border-radius: 15em;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__description {
        width: 50%;
        font-size: 1.6em;
        p {
            margin: 0.5em 0; 
        }
    }
}

@media screen and (max-width: 600px) {
    .header, .content {
        flex-direction: column;
        align-items: center;
    }

    .header__title {
        margin-bottom: 0.5em;
    }

    .content__image {
        width: 50%;
    }
    .content__description {
        width: 100%;
    }
}

@media print {
    #container {
        padding: 0 1%;
    }
    .header__nav {
        display: none;
    }
    @page {
        background-color: $white !important;
        color: $black !important;
        font-size: 14px;
    }
}