@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');
@import "./variables";


html {
    background-color: $background;

    // box model
    height: 100%;
    width: 100%;
    position: absolute;

    // typography
    font-family: 'Lato', 'sans-serif';
    color: $font-color;
    font-size: 16px;
    font-weight: regular;
}

#container {
    // box model
    padding: 0 15%;
}

.font {
    &__accent {
        color: $primary;
    }
    &__white {
        color: $white;
    }
}

.company {
    &__konfio {
        color: $company-konfio;
        text-decoration: none;
    }
    &__netsoft {
        color: $company-netsoft;
        text-decoration: none;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3em 0;

    &__title {
        font-size: 3em;
        color: $title-color;
        font-weight: bold;
    }

    &__nav {
        display: flex;
        flex-direction: column-reverse;
        text-align: right;
        a {
            color: $primary;
            margin-left: 0.3em;
            text-decoration: none;
            &:active, &:visited {
                color: $primary-light;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    &__image {
        width: 25%;
        border-radius: 15em;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__description {
        width: 50%;
        font-size: 1.6em;
        font-weight: bold;
        p {
            margin: 0.5em 0; 
        }
    }
}

.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.experience {
    flex-basis: 75%;

    &__card {
        margin-bottom: 2.5em;

        &__term {
            font-size: 0.8em;
            margin: 0.5em 0;
            font-weight: lighter;
        }

        &__responsibility {
            margin: 1.2em 0;
        }

        h2 {
            font-size: 1.4em;
            font-weight: bold;
        }

        ul li {
            list-style-type: circle;
            margin-top: 0.5em;
            margin-left: 1.5em;
        }
    }
}

.additional {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    &__card {
        margin: 0.5em 0;
    }
    &__cert {
        width: 70%;
    }
}

.data__card {
    margin-bottom: 2em;
    h2 {
        font-weight: lighter;
    }
    ul {
    }
}

@media screen and (max-width: 900px) {
    .experience, .additional {
        flex-basis: 100%;
    }
    .additional__cert {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .header, .content {
        flex-direction: column;
        align-items: center;
    }

    .header__title {
        margin-bottom: 0.5em;
    }

    .header__nav {
        text-align: center;
    }

    .content__image {
        width: 50%;
    }
    .content__description {
        width: 100%;
    }
}

@media print {
    #container {
        padding: 0 1%;
    }
    .header {
        margin: 0;
        margin-bottom: 3em;
    }
    .header__nav {
        display: none;
    }
    .font__white {
        color: $black !important;
    }
    html {
        background-color: $white !important;
        color: $black !important;
        font-size: 14px;
    }
}