$primary: #FFBF53;
$primary-light: #FFCA6E;
$primary-dark: #B38029;

$secondary: #85CDE6;
$secondary-light: #94E4FF;

$black: #333333;
$white: #FCFCFC;

$background: $black;
$font-color: $white;

$title-color: $primary;
