@import "../styles/variables";


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
        width: 8%;
    }
}

.navigation {
    color: $primary-color;
    a {
        margin: 0 1em;
    }
}

.content {
    width: 60%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeContent {
    margin: 3em auto;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .header .logo {
        width: 35%;
    }
    .content {
        width: 80%;
    }
    .homeContent {
        margin: 3em auto;
        padding: 0;
        flex-direction: column-reverse;
    }
}

@media print {
    .navigation {
        display: none;
    }
    .content {
        width: 90%;
    }
    .header {
        width: 90%;
        align-items: flex-start;
        img.logo {
            content: url("/torijacarlos-black.png");
        }
    }
}