@import "../styles/variables";

.imgWrapper {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    border: 0.5em solid $white-color;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
    }
}

.description {
    width: 50%;
    font-size: 2em;
    font-weight: 100;
    p {
        margin: 0;
        margin-bottom: 1em;
    }
}

@media (max-width: 600px) {
    .imgWrapper{
        margin-top: 1em;
    }
    .description {
        width: 100%;
        font-size: 2em;
    }
}