@import "../styles/variables";

.imgWrapper {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    border: 0.5em solid $white-color;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
    }
}

.introContainer {
    flex-direction: column;
    align-items: center;
}

.intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description {
    padding-left: 3em;
    font-size: 2em;
    font-weight: 100;
    p {
        margin: 0;
        margin-bottom: 1em;
    }
}

.certs {
    margin-top: 3em;
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    img {
        width: 12%;
    }
}

.social {
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
}

@media (max-width: 680px) {
    .intro {
        flex-direction: column;
    }
    .imgWrapper{
        margin-top: 1em;
    }
    .description {
        width: 100%;
        font-size: 2em;
        padding-left: 0;
    }
    .certs img {
        width: 25%;
    }
}

